{% extends 'base.html.twig' %}

{% block title %}
    Listes des produits
{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    {% for product in products %}
        [
        {{ product.name }}
        {{ product.description }}
        {{ product.price }}
        {{ product.fileName }}
        {{ product.fileSize }}
        ]
        <img src="../assets/images/images{{ product.fileName }}" alt="{{ product.fileName }}">
    {% endfor %}
{% endblock %}

